@model IEnumerable<Comun.Apllicacion.EmpleadoDTO>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Codigo Empleado</th>
            <th>Nombres</th>
            <th>Sexo</th>
            <th>Sueldo</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CODEMP</td>
            <td>@item.NONEMP</td>
            <td>@item.SEXOEMP</td>
            <td>@item.SUELDOEMP</td>
            <td>@item.EDADEMP</td>
            <td></td>
        </tr>
        }
    </tbody>
</table>

